<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://bootswatch.com/3/journal/bootstrap.min.css" />
    <style>
        img{
            height:40rem;
            width:27.5rem;
        }
        form{
            margin-bottom:2rem;
        }
        .form-inline{
            position:relative;
            top:1.375rem;
        }

        .form-inline .btn{
            position:relative;
            bottom:0.25rem;
        }

        @media screen and (max-width:460px){
            .form-inline{
                top:0;
            }

            .form-inline .btn{
                bottom:0;
            }
        }
    </style>
</head>
<body>
    <% include navbar %>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Search</h1>
                <% include search %>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <!--<h1>Your ip is <%= ip %></h1>-->
                <% parsedData.forEach((movie)=>{ %>
                    <div class="col-xs-6 col-sm-4 col-md-3">
                        <img src="<%= imgBaseUrl + movie.poster_path%>" />
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
</body>
</html>