<form action="/search/movie" method="post"> <!-- ACTION: Where to submit the form | METHOD: What type of http request (GET, POST, PUT, et cetera)-->
    <input type="text" placeholder="ARF" name="movieTitle" /> <!-- name is what the variable will be called upon submission-->
    <input type="submit" class="btn btn-primary" value="ARF" />
</form>